[alias]
    co = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ck = checkout
[user]
	email = atuljangra66@gmail.com
	name = atuljangra
[credential]
	helper = cache --timeout=432000
[http]
	postBuffer = 524288000
